*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #7d2ae8;
    padding: 40px;
}
.fq-container{
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 22px;
    padding: 45px 90px 45px 60px;
}
.fq-container .img-box{
    height: 360px;
    width: 360px;
}
.fq-container .img-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.fq-container .fq-main{
    width: 60%;
}
.fq-container .fq-main .title{
    font-size: 35px;
    font-weight: 600;
    color: #7d2ae8;
}
.fq-container .fq-main .fq-text{
    margin-top: 25px;
    height: 260px;
    overflow-y: auto;
}
.fq-text::-webkit-scrollbar{
    display: none;
}
.fq-container .fq-main li{
    list-style: none;
    cursor: pointer;
}
.fq-container .fq-main li .question-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fq-main li .line{
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(0, 0, 0, 0.09);
    margin: 10px 0;
}
.fq-main li .question-arrow .question{
    font-size: 22px;
    font-weight: 500;
    color: #595959;
}
.fq-main li .question-arrow .arrow{
    font-size: 20px;
    color: #595959;
}
.fq-main li:hover .question-arrow .question,
.fq-main li:hover .question-arrow .arrow{
    color: #7d2ae8;
    opacity: .88;
    transition: all .5s ease;
}
.fq-main li p{
    width: 92%;
    font-size: 14px;
    font-weight: 500;
    color: #595959;
    display: none;
}
.fq-main li.showAnswer p{
    display: block;
}